
<div class ="container-fluid mb-3 pb-5" style="background-color: #F7F7F7;">
    <div class ="row">
      <div class ="col-md-6 col-sm-6 " style="color: #61677A; font-weight: bold; " >
        <h1 class=" m-5 pt-5">
           About Me 
        </h1>
       

        
      </div>
      <div class ="col-md-6 col-sm-6" style="color: #61677A; font-size: large; font-weight: 500;">
          <p class="mt-5" >
            My name is Nehal Hassan, I am 24 years old. I am a full stack web developer. I have always had a huge passion for programming. I have been studying programming for over 4 years. 
            Along this period, I created a lot of projects. What helped along my learning journey is that I am very hard working, eager to learn, always seeking to gain new skills. 
             
          </p>
<a href="/assets/Nehal-Hassan.pdf" download>  <button class="btn" style="background-color: #61677A; color: #F7F7F7;"> My Resume</button>
        </a>
       </div>
    </div>
  </div>